body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: #373e98;
    color: #FFFFFF;
}
#fejlec{
    width: fill;
    margin-right:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0px;
    
}
.menu{
    display: inline-block;
    margin-right: 40px;
    
}
#belep{
    border:1px #fee36e solid;
    border-radius: 25px;
    padding: 7px;
    color: #000000;
    background-color: #fee36e;
}
td{
    width: 50vw;
    height: 200px;
}
#footer{
    position: fixed;
    bottom:0;
}