<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>6-os lottó</title>
</head>
<body>
    <div>
        <div>
            <h1>6-os lottó</h1>
            <ul>
                <li>Nyerőszámok</li>
                <li>Kapcsolat</li>
                <li>Visszajelzések</li>
                <li th:insert="menu">Belépés</li>
            </ul>
        </div>
        <div>
            <table>
                <tr>
                    <td>Cégünknél 1988 óta heti rendszereséggel játszható a 6-os lottó nevű játék biztos van több értelme is de azt még nem találtam ki. Maj ide még jönnek képek is de még azt sem találtam.</td>
                    <td>Ide talán egy kép</td>
                </tr>
                <tr>
                    <td>Ide még egy kép</td>
                    <td>Ide szüveg</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        2022 &copy; 6-oslotto Zrt.
    </div>
</body>
</html>